/* General */
* {
  font-family: 'Roboto';
}

body{
  min-height: 100vh;
  padding-bottom: 100px;
  position:relative;
}

header{
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.row{
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.btn-primary{
  background-color: #f2a340;
  border: 2px solid #c28008;
}

.btn-primary:hover {
  background-color: #c28008;
  border-color:#c28008;
}

.msg {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;

}

  /* navbar  */

#navbar {
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 0;
}

#navbar img {
  width: 50px;
}

#navbar a {
  font-size: 14px;
  color: #757575;
}

#navbar a:hover{
   color: #f2a340;
}

section{
  display: flex;
  justify-content: center;
  background-color: gray;
}

.navbar-logo{
  text-decoration: none;
  color: #f2a340;
  text-align:left;
  /* display: flex; */
}

/* Search Container */

#search-container {
  background-image: url("../img/img-event.jpeg");
  background-size: cover;
  background-position: center;
  height: 250px;
  padding: 40px;
  text-align: center;
}

#search-container h1 {
  color: #f2a340;
  margin-bottom: 30px;
  font-weight: 900;
}

#search-container form {
  width: 50%;
  margin: 0 auto;
}

/* Events List */

#events-container{
  padding: 50px;
}

#events-container h2 {
  margin-bottom: 10px;
}

#events-container .subtitle {
  color: #757575;
  margin-bottom: 30px;
}

#card-container {
  display: flex;
}

#events-container .card {
  flex: 1 1 24%;
  max-width: 25%;
  border-radius: 10px;
  padding: 0;
  margin: .5%;
}

#events-container img {
  max-height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-date {
  font-size: 12px;
  color: #acacace5;
}

.card .card-title {
  color: #212121;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-participants {
  font-size: 14px;
  color: #757575;
}
 
/* Event create page */

#event-create-container { 
  padding: 30px;
}

#event-create-container label {
  font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea { 
  font-size: 12px;
  margin: 5px;
}

#event-create-container .btn{
  margin-top: 10px;
}

/* Event Page */

#image-container,
#info-container{
  margin-top: 30px;
}

#image-container{
  border-radius: 10px;
}

#info-container{
  font-size: 36px;
  font-weight: 900;
}

#info-container p {
  margin: 0;
  font-size: 14px;
  display: flex;
}

#info-container h3,
#description-container h3 {
  font-size: 20px;
  font-weight: bold;
}

#info-container ion-icon {
  font-size: 20px;
  color: #f2a340;
  margin-right: 5px;
}

#info-container #event-submit {
  margin: 20px 0;
}

#items-list {
  list-style: none;
  padding-left: 0;
}

#items-list li {
  display: flex;
  font-size: 12px;
}

/* Footer  */

footer{
  text-align: center;
  background-color: #353e48;
  color: #fff;
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%; 
} 

footer p {
  margin-bottom: 0;
}


